/************************** Common style ***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************** Header style ***************************/
/************************** Main style ***************************/
/************************** Footer style ***************************/
/************************** Queryes style ***************************/