/************************** Common style ***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

.container {
    width: 100%;
    padding: 5rem 2rem 3rem;
}

a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.column {
    flex-direction: column;
}

.center {
    align-self: center;
}

.shrink {
    flex-shrink: 999;
}

.gap {
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1rem;
    border-radius: 2rem;
    padding: 2rem;
    overflow: hidden;
    text-align: center;
}

.btn {
    background-color: rgba(230, 104, 129, 0.528);
    border-radius: 2em;
    padding: 0.5em 3em;
}

h1 {
    text-align: center;
    font-size: 23px;
    align-self: center;
}

h2 {
    text-align: center;
    font-size: 18px;
    align-self: center;
}

img {
    align-self: center;
    display: block;
    width: 100%;
}

.violet {
    background-color: #9792e4;
}

label {
    cursor: pointer;
}

/************************************ Header style ****************************/
header {
    width: 100%;
    background-color: #0084fd;
    position: fixed;
}

.header {
    width: 100%;
    color: white;
    background-color: #0084fd;
    padding: 1rem 2rem;
    font-size: 30px;
    align-items: center;
}

#sburger {
    width: 100%;
    background-color: #0083fdd6;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: -1;
    top: -250%;
    left: 0;
    border-radius: 0 0 1rem 1rem;
    transition: 2s;
}

#sburger a {
    padding-top: 1rem;
}

#test:checked+label i {
    color: #4c4974;
}

#test:checked+label+#sburger {
    top: 100%;
}

#no-burger {
    display: none;
    align-items: center;
    gap: 2rem;
    font-size: 15px;
}

#sburger a,
#no-burger a {
    color: white;
}

#no-burger .btn {
    color: black;
    background-color: white;
    padding: 0.5rem 1rem;
}

/*********************************** Main style ******************************/
/********* info section ********/

.info {
    padding-top: 8rem;
}

.info h1 {
    color: #0084fd;
}

.info .card {
    background-color: #b5ddff;
}

.info .fontawesome {
    align-self: center;
    color: #0084fd;
    font-size: 60px;
}

.info a {
    background-color: #0084fd;
    color: white;
    align-self: flex-start;
}

/* card double-sized */
.double-size {
    padding-bottom: 0;
}

.double-size .btn {
    margin-bottom: 1rem;
}

.info .double-size p {
    text-align: start;
}

/********* strategic section ********/
.strategic div:first-child img {
    width: 100%;
}

.strategic div:first-child p,
.strategic h1 {
    color: white;
    align-self: flex-start;
}

.strategic a {
    width: 3em;
    height: 3em;
    align-self: center;
    background-color: #9792e4;
    padding: 1rem;
    border-radius: 50%;
}

.strategic i {
    margin-left: 2px;
}

.strategic .card {
    background-color: white;
}

.strategic .card img {
    width: 100%;
}

/********* testimonial section ********/
.testimonial .card {
    background-color: #9792e4;
    color: white;
}

.testimonial-img1 {
    align-self: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: url(../img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
}

.testimonial-img2 {
    align-self: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: url(../img/testimonial2.jpg);
    background-size: cover;
    background-position: center;
}

.testimonial-img3 {
    align-self: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: url(../img/testimonial3.jpg);
    background-size: cover;
    background-position: center;
}

.testimonial i {
    transform: translateY(-2px);
}

/********* benefit section ********/
.benefit h1 {
    color: white;
}

.benefit .card {
    text-align: left;
    background-color: white;
}

.big-number {
    color: #9792e4;
    font-size: 50px;
}

.benefit h2 {
    align-self: flex-start;
    color: #9792e4;
    font-size: 20px;
}

.benefit .btn {
    background-color: #9792e4;
    color: white;
}

/********* about section ********/
.about-img {
    position: relative;
    align-self: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.quatermark {
    font-size: 60px;
    position: absolute;
    right: 0;
    top: 0;
}

.about h1,
.about h2,
.about i {
    color: #9792e4;
    align-self: flex-start;
    text-align: left;
}

.about a,
.about a i {
    background-color: #9792e4;
    color: white;
    align-self: flex-start;
}

/********* start section ********/
.start {
    color: white;
    text-align: center;
}

h3 {
    font-size: 50px;
    color: rgb(255, 194, 41);
}

.start>a {
    color: #9792e4;
    background-color: white;
    padding: 1rem 4rem;
    align-self: center;
}

.legal {
    font-size: 14px;
}

.legal a {
    color: white;
    text-decoration: underline;
}

/************************** Footer style ***************************/
.footer {
    padding: 3rem 2rem;
    background-color: #333333;
    color: white;
    gap: 5rem;
    text-align: center;
}

.legal-footer a {
    color: #9792e4;
    text-decoration: underline;
}

/************************** Queryes style ***************************/
@media screen and (min-width: 705px) {
    .info {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
        justify-content: space-between;
    }

    .info .card {
        width: 30%;
        margin-bottom: 2rem;
    }

    .info .double-size {
        width: 65%;
    }

    .info img {
        margin-left: 1rem;
        align-self: flex-start;
    }

    .testimonial .card {
        flex-direction: row;
        align-items: center;
    }

    .benefit {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefit h1 {
        width: 100%;
    }

    .benefit .card {
        width: 45%;
    }

    .about {
        flex-direction: row;
        gap: 2rem;
    }

    .img-quatermark {
        width: 30%;
    }

    .first {
        width: 70%;
    }

    .second {
        width: 30%;
    }

    .img-quatermark {
        width: 100%;
    }
}

@media screen and (min-width: 1250px) {

    #no-burger {
        display: flex;
    }

    #burger {
        display: none;
    }

    .container {
        width: 1250px;
        margin: 0 auto;
    }

    .double-size {
        flex-direction: row;
    }

    .double-size div {
        width: 50%;
    }

    .double-size div:first-child {
        align-self: flex-start;
    }

    .double-size div:last-child {
        align-self: flex-end;
        justify-content: center;
    }

    .strategic {
        flex-direction: row;
    }

    .strategic div {
        width: 50%;
    }

    .strategic div:first-child {
        align-self: flex-start;
    }

    .strategic div:last-child {
        margin-top: 10rem;
        align-self: flex-end;
        justify-content: center;
    }

    .benefit .card {
        width: 30%;
    }
}